body {
    background-color: antiquewhite;
    font-family: "change", sans-serif;
}

.tree-node {
    display: flex;
    background-color: white;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
}

.tree-node-name {
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif