body {
    background-color: antiquewhite;
    font-family: "change", sans-serif;
}

#nav-bar {
    font-family: "change", sans-serif;
    display: flex;
    margin-top: .2vh;
    margin-left: 5vw;
    color: black;
}
.unset-a {
    all: unset;
}

.unset-a:hover {
    cursor: pointer;
}

.option-container {
    margin-top: 45px;
}

.option-text {
    font-family: "change", sans-serif;
    margin-left: 5vw;
    font-size: 20px;
}

.option-text:hover {
    opacity: 0.5;
}

.knowledge-zone {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}

.pop-up {
    display: flex;
    overflow: hidden;
    position: absolute;
    z-index: 90;
    background-color: white;
    width: 0vw;
    height: 0vh;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    transition: all .15s ease-in-out;
}

#closePopup {
    font-weight: 900;
    position: absolute;
    top: 50px;
    left: 50px;
}

.pop-up-container {
    display: flex;
    justify-content: center;
}

.tree-node {
    display: flex;
    background-color: white;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    transition: all .25s ease-in-out;
}

.tree-node:hover {
    transform: scale(1.05);
    background-color: white;
    transition: all .25s ease-in-out;
}

.tree-node-name {
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}