<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Nirmit's Infinite Academy</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='programming.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='font.css') }}">
    </head>


    <body>
        <div id="nav-bar">
            <a href="/" class="unset-a"><img class="logo" src="{{url_for('static', filename= 'images/infinite_logo.webp')}}"></a>
        </div>
        <div class="pop-up-container">
            <div class="pop-up" id="diagnosticPopup">
                <div id="closePopup"><img src="{{url_for('static', filename='images/close.png')}}" style="height: 25px; width: 25px;"></div>
                <p>Nirmit Education has graced your mind.</p>
            </div>
        </div>

        <div class="knowledge-zone" id="knowledge-zone">
            <div class="row" id="0">
                <div class="tree-node" id="subject-title">
                    <p class="tree-node-name">Programming</p>
                </div>
            </div> 

            <div class="row" id="1">
                <div class="tree-node" id="diagnostic">
                    <p class="tree-node-name">Diagnostic</p>
                </div>
                <div class="tree-node" id="narmit">
                    <p class="tree-node-name">Narmit Module</p>
                </div>
            </div>

            <div class="row" id="2">
                <div class="tree-node" id="educational">
                    <p class="tree-node-name">educational</p>
                </div>
                <div class="tree-node" id="narmit-PIDs">
                    <p class="tree-node-name">Narmit PIDs</p>
                </div>
            </div>

            <div class="row" id="3">
                <div class="tree-node" id="super-narmit">
                    <p class="tree-node-name">Super Narmit</p>
                </div>
            </div>
        </div>
        <script src="{{url_for('static', filename='programming.js')}}"></script>
        
        <div class="gray-unknown"></div>
        
    </body>
</html>