<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Nirmit's Infinite Academy</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='programming.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='font.css') }}">
    </head>


    <body>
        <div id="nav-bar">
            <a href="/" class="unset-a"><img class="logo" src="{{url_for('static', filename= 'images/infinite logo clear option 1.webp')}}"></a>
            <div class="option-container">
                <a href="/" class="unset-a option-text">Home</a>
               
            </div>
        </div>
        <div class="pop-up-container">
            <div class="pop-up" id="diagnosticPopup">
                <div id="closePopup"><img src="{{url_for('static', filename='images/close.png')}}" style="height: 25px; width: 25px;"></div>
                Nirmit Education has graced your mind.
            </div>
        </div>

        <div class="knowledge-zone">


            <div class="row">
                <div class="tree-node" id="subject-title">
                    <p class="tree-node-name">Programming</p>
                </div>
            </div> 

            <div class="row">
                <div class="tree-node" id="diagnostic">
                    <p class="tree-node-name">Diagnostic</p>
                </div>
            </div>

            <script>
                var diagnosticButton = document.getElementById('diagnostic');
                var diagnosticPopup = document.getElementById('diagnosticPopup');

                var closeButton = document.getElementById('closePopup');
              
                diagnosticButton.addEventListener('click', () => {
                    diagnosticPopup.style.width = "80vw";
                    diagnosticPopup.style.height = "80vh";
                });

                closeButton.addEventListener('click', () => {
                    diagnosticPopup.style.width = "0";
                    diagnosticPopup.style.height = "0";
                });
              </script>
        </div>

        

    </body>
</html>